<div class="container">
  <section class="about_person_area pad" id="about">

      <div class="main_title">
          <h2 class="title-skill">Acerca de mi</h2>
      </div>
      <div class="wrapp-image">
          <div>
              <div class="person_img">
                  <img class="img-about" src="assets/images/david-zuluaga.jpg" alt="">
              </div>
          </div>
      </div>
      <br><br>

      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="person_details">
                      <h3>Hi I'm <span>David Fernando Zuluaga</span></h3>
                      <h4>Fullstack Developer</h4>
                      <div class="row">
                          <p>
                            Ingeniero de sistemas con 1+ de experiencia; responsable, creativo, habilidades para adaptarme a los cambios y emprendedor con conocimiento en Front-End con tecnologías como Angular, TypeScript, JavaScript, HTML5, CSS3,  y React. También con conocimiento en Backend usando Python, Django Rest Framework, Django-Channels y PostgreSQL. Con conocimiento de manejos de repositorio como Git. Asumo con decisión los retos y metas que la organización me plantee. También tengo experiencia en diseño de base de datos relacionales y arquitecturas orientadas a servicios. Otras habilidades incluyendo trabajo en equipo y autoaprendizaje, soy apasionado de implementar nuevas tecnologías y escribir código.
                            </p>
                          <br>

                          <div class="col-md-6">
                              <ul class="list-check">
                                  <li>Ingenieria de software</li>
                                  <li>Programación de experiencia de usuario</li>
                                  <li>Programación en Backend</li>
                              </ul>
                          </div>
                          <div class="col-md-6">
                              <ul class="list-check">
                                  <li>Diseño de base de datos</li>
                                  <li>Cultura DevOps</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <div class="row person_details">
                      <h4>Que me apasiona?</h4>

                      <p>Apasionado por las nuevas tecnologias y escribir codigo</p>
                      <br>
                      <div class="col-md-6">
                          <ul class="list-check">
                              <li>Viajar</li>
                              <li>Musica</li>
                              <li>Bailar</li>
                          </ul>
                      </div>
                      <div class="col-md-6">
                          <ul class="list-check">
                              <li>Beber una buena cerveza</li>
                              <li>Conversar con amigos</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row wrapp-buttons">
              <a class="download-cv" href="assets/CV_David_Zuluaga.pdf" download="CV-David_zuluaga.pdf"> DESCARGAR MI HV</a>
          </div>
      </div>

  </section>
</div>