<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<h1 class="principal-title">Personajes de Rick and Morty</h1>


<div class="container">
    <label>Paginas:</label>
  <div class="wrap-list">
    <button class="btn btn-primary button-page" *ngFor="let page of pages" (click)="getCharacterForPage(page)">
      {{page}}
    </button>
  </div>


  <div  class="wrapper-card">
    <div class="card card-responsive" style="width: 18rem;" *ngFor="let character of characters">
      <a (click)="redirectCharacter(character.id)">
        <img class="card-img-top" src={{character.image}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{character.name}}</h5>
        <div class="button-card">
            <a (click)="redirectCharacter(character.id)" class="btn btn-primary">Detalle</a>
          </div>
      </div>
      </a>
    </div>
  </div>


</div>

<style>

  .wrapper-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin-top: 15%;
  }

  .wrap-list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 8%;
    padding-left: 4%;
    padding-bottom: -7%;
    margin-bottom: -9%;
  }

  label {
    /* display: inline-block; */
    width: 8em;
    /* margin: 0.5em 0; */
    color: #607d8b;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8%;
    padding-left: 4%;
    padding-bottom: -7%;
    margin-bottom: -9%;
  }
  
  .principal-title {
    text-align: center;
    padding-top: 4%;
    font-weight: 400;
    margin-bottom: -4%;
  }

  .button-page{
    margin: 1%;
  }

  .card-responsive{
    margin: 2%;
  }

    .button-card{
    color: white;
    display: flex;
    justify-content: center;
  }

</style>
